c Pigeonhole principle formula for 1 pigeons and 0 holes
c Generated with `cnfgen`
c (C) 2012-2016 Massimo Lauria <lauria.massimo@gmail.com>
c https://massimolauria.github.io/cnfgen
c
c COMMAND LINE: cnfgen php 1 0
c
p cnf 0 1
0
